{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Exam.css' %}">
    <script src="{% static 'JS/Exam.js' %}?v=1.4"></script>
    <title>Examen de Intervalos</title>
</head>

<body>
<header>
<h1>Identificar Intervalo</h1>
    <nav>
        <a href={% url 'home' %}>Home</a>
    </nav>
</header>
<main>

<button type="button" onclick="playInterval()" class="primary">
    ▶ Reproducir Intervalo
</button>

<button type="button" onclick="playPrevious()" class="secondary" id="btn-previous" disabled>
    ↩ Repetir 
</button>

{% if feedback %}
    <p><strong>{{ feedback }}</strong></p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="correct_interval_id" value="{{ correct_interval_id }}">
    <input type="hidden" id="root_midi"   name="root_midi"   value="{{ root_midi }}">
    <input type="hidden" id="second_midi" name="second_midi" value="{{ second_midi }}">
    <input type="hidden" id="prev_root"   value="{{ prev_root }}">
    <input type="hidden" id="prev_second" value="{{ prev_second }}">
    <input type="hidden" id="direction" value="{{ direction }}">

    <hr style="margin: 10px;">

    <div class="interval-grid">
        {% for interval in intervals %}
            <button
                type="submit"
                name="answer"
                value="{{ interval.id }}"
                class="interval-btn">
                {{ interval.name }}
            </button>
        {% endfor %}
    </div>
</form>

<div id="audio-config"
     data-sfz-url="{% static 'soundfonts/SalamanderGrandPianoV3Retuned.sfz' %}"
     data-samples-base="{% static 'soundfonts/' %}"
     style="display:none">
</div>
</main>
</body>
</html>

<script>
    const config = document.getElementById('audio-config');
    const SFZ_URL    = config.dataset.sfzUrl;
    const SAMPLES_BASE = config.dataset.samplesBase;
</script>